@media screen and (max-device-width: 900px) {
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(12.jpg);
    background-repeat: no-repeat;   
    background-position: bottom 35% left 34%;
    background-size: 3900px;
    background-attachment: fixed;
}
header{
    width: 100%;
    background-color:white;
    border: 2px solid coral;
    border-radius: 10px;
}
.menu li {
    display: block;
    background-color: coral;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    flex-direction: column;
    margin: 10px;
}
.menu a {
    text-decoration: none;
    color:white;
}
.menu a:hover {
    text-decoration: underline;
}
 .menu {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
}
.men {
    background-color: white; 
    border-radius: 10px;
    border: 2px solid coral; 
    margin-top: 20px; 
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.h1 {
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:coral;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 170px;
    text-align:center;
}
.logo {
    justify-content: flex-start;
    font-size: 150px;
}
.h11{
    padding-left: 10px; 
    background-color:white;
    color:coral;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 2px solid coral;
}
.myrabota {
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    text-align: center;
    border-radius: 10px;
    font-size: 21px;
}
.spisok {
    background-color:white;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid coral;
    border-radius: 10px;
    padding-left: 45px;
}
.spisok a {
    text-decoration: none;
    color:coral;
}
.spisok a:hover {
    text-decoration: underline;
}
.peremest {
    display:flex;
    flex-direction: column-reverse;
}
table {
    width: 960px; 
    text-align: center;
    margin: 0 auto;

}
th,td {
    color:coral;
    border: 2px solid coral;
    border-radius: 10px;
    font-size: 50px;
}
th {
    background-color: aquamarine;
}
td {
    background-color: blue;
}
th a {
    text-decoration: none;
    color:coral;
}
.forma {
    width: 960px;
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color:coral;
    border-radius: 10px;
    border: 2px solid coral;
    font-size: 50px;
    margin-bottom: 27px;
}
.form {
    width: 960px;
    background-color:white; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto; 
    margin-right: auto;
    color: coral;
    border: 2px solid coral;
    border-radius: 10px;
    font-size: 50px;
    margin-bottom: 15px;
}
.label {
    color:black;
}
input {
    font-size: 40px;
}
select {
    font-size: 40px;
}

textarea {
    font-size: 40px;
}
input[type="checkbox"] {
    width: 40px;
    height: 40px;
}
input[type="radio"] {
    width:40px;
    height:40px;
}
}
@media screen and (min-device-width: 900px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(12.jpg);
        background-repeat: no-repeat;   
        background-position: bottom 35% left 34%;
    }
    header{
        width: 100%;
        background-color:white;
        border-radius: 10px;
        border: 2px solid coral;
    }
    nav li {
        display:inline-block;
    }
    .menu li {
        background-color: coral;
        margin:auto;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }
    .menu a {
        text-decoration: none;
        color:white;
    }
    .menu a:hover {
        text-decoration: underline;
    }
     .menu {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 auto;
        text-align: center;
    }
    .men {
        width: 100%;
        background-color: white; 
        border-radius: 10px;
        border: 2px solid coral; 
        margin-top: 20px;
        margin-bottom: 10px;   
    }
    .h1 {
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:coral;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 90px;
        text-align:center;
    }
    .h11{
        padding-left: 10px; 
        background-color:white;
        color:coral;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        border: 2px solid coral;
    }
    .myrabota {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
        text-align: center;
        border-radius: 10px;
    }
    .spisok {
        width: 960px;
        background-color:white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid coral;
        border-radius: 10px;
    }
    .spisok a {
        text-decoration: none;
        color:coral;
    }
    .spisok a:hover {
        text-decoration: underline;
    }
    table {
        width: 960px; 
        text-align: center;
        margin: 0 auto;
    }
    th,td {
        background-color:white;
        color:coral;
        border: 2px solid coral;
        border-radius: 10px;
    }
    th {
        background-color: aquamarine;
    }
    td {
        background-color: blue;
    }
    th a {
        text-decoration: none;
        color:coral;
    }
    th a:hover {
        text-decoration: underline;
    }
    .forma {
        width: 960px;
        background-color:white;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
        color:coral;
        border-radius: 10px;
        border: 2px solid coral;
    }
    .form {
        width: 960px;
        background-color:white; 
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto; 
        margin-right: auto;
        color: coral;
        border: 2px solid coral;
        border-radius: 10px;
    }
    .label {
        color:black;
    }
}
